<form class="form-horizontal form-material" ngNativeValidate [formGroup]="forma" (ngSubmit)="registarInventario()" id="loginform">
    <h3 class="box-title m-t-40 m-b-0">Crear Tienda</h3><small> </small>
    <input type="hidden" name="document_id" formControlName="id" value="{{document_id}}">
    <div class="form-group m-t-20">
        <div class="col-xs-12">
            <input class="form-control" type="text" formControlName="direccion" name="direccion" required placeholder="Direccion">
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="text" formControlName="nombre" name="nombre" required placeholder="Nombre">
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="text" formControlName="tlf" name="tlf" required placeholder="Tlf">
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Guardar</button>
        </div>
    </div>
</form>