<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ title }}</h4>
                <div class="table-responsive m-t-40">
                    <table id="myTable" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Evento</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Evento</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let tienda of tiendasBD | async;">
                                <td>{{ tienda.nombre }}</td>
                                <td>{{ tienda.direccion }}</td>
                                <td>{{ tienda.tlf }}</td>
                                <td><button class="btn btn-primary" (click)="delete( tienda.id )"> Eliminar </button> | <a class="btn btn-success" [routerLink]="['/newTiendas', tienda.id ]"> Actulizar </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>