<form class="form-horizontal form-material" ngNativeValidate [formGroup]="forma" (ngSubmit)="registarProducto()" id="loginform">
    <h3 class="box-title m-t-40 m-b-0">Crear Producto</h3><small> </small>
    <input type="hidden" name="document_id" formControlName="id" value="{{document_id}}">
    <div class="form-group m-t-20">
        <div class="col-xs-12">
            <input class="form-control" type="text" formControlName="cod" name="cod" required placeholder="Cod_Producto">
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="text" formControlName="categoria" name="categoria" required placeholder="Categoria">
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="text" formControlName="titulo" name="titulo" required placeholder="Titulo">
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Guardar</button>
        </div>
    </div>
</form>