<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <div class="table-responsive m-t-40">
                    <table id="myTable" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                                <th>Código</th>
                                <th>Categoría</th>
                                <th>Título</th>
                                <th>Evento</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>

                                <th>Código</th>
                                <th>Categoría</th>
                                <th>Título</th>
                                <th>Evento</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let producto of productosBD | async;">

                                <td>{{producto.cod}}</td>
                                <td>{{producto.categoria}}</td>
                                <td>{{producto.titulo}}</td>
                                <td><button class="btn btn-primary" (click)="delete( producto.id )"> Eliminar </button> | <a class="btn btn-success" [routerLink]="['/newProducto', producto.id ]"> Actulizar </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>